<div class="container">

  <div *ngIf="estudante">

    <h2>Detalhes {{estudante.nome | uppercase}}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id do Estudante</th>
          <th>Nome do Estudante</th>
          <th>Estudante é Jedi?</th>
          <th>Templo do Estudante</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input [(ngModel)]="estudante.id" placeholder="id" disabled="true" /></td>
          <td><input [(ngModel)]="estudante.nome" placeholder="nome" /></td>
          <td><input [(ngModel)]="estudante.isJedi" placeholder="é Jedi" /></td>
          <td><input [(ngModel)]="estudante.templo" placeholder="templo" /></td>
        </tr>
      </tbody>
    </table>
    <button (click)="salvar()" style="margin:20px;">Salvar</button>
    <button (click)="voltar()">Voltar</button>
  </div>

</div>
