<div class="container">
  <h2>Estudantes da Academia Jedi</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Id do Estudante</th>
        <th>Nome do Estudante</th>
        <th>Estudante é Jedi?</th>
        <th>Templo do Estudante</th>
      </tr>
    </thead>
    <tbody class="estudantes">
      <tr *ngFor="let estudante of estudantes" (click)="onSelect(estudante)" [class.selected]="estudante === estudanteSelecionado">
        <td class="indice">{{ estudante.id }}</td>
        <td>{{ estudante.nome }}</td>
        <td>{{ estudante.isJedi }}</td> 
        <td>{{ estudante.templo }}</td>
      </tr>
    </tbody>
  </table>

  <app-estudante-detalhe [estudante]="estudanteSelecionado"></app-estudante-detalhe>
    
</div>
